<div class="row m-0 p-00 bg-light">
  <div class="col-9">
    <div class="container  w-50 ">
      <div class="my-3">
        <form [formGroup]="transferFormGroup" (ngSubmit)="onSubmit()"
              class="form-horizontal">
          <div formGroupName="transfer">
            <span>Bank account : </span>

            <span>{{customerId}}</span><br>

            <label class="form-label">Bank account to transfer</label>
            <input type="number" formControlName="receiverId" class="form-control" placeholder="#0"
                   max="999999999">
            <div
              *ngIf="(receiverId?.invalid && (receiverId?.dirty || receiverId?.touched)) || customerId == getReceiverId || customerDoesExist"
              class="alert alert-danger mt-1">
              <div *ngIf="receiverId?.errors?.['required']">
                Id required
              </div>
              <div *ngIf="receiverId?.errors?.['pattern']">
                Wrong input
              </div>
              <div *ngIf="customerId == getReceiverId">
                Id can not be the same
              </div>
              <div *ngIf="customerDoesExist">
                Customer with such id does not exist
              </div>
            </div>
            <label class="form-label">Title</label>
            <input type="text" formControlName="title" placeholder="" class="form-control">
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                 class="alert alert-danger mt-1">
              <div *ngIf="title?.errors?.['required'] || title?.errors?.['notOnlyWhiteSpace']">
                Title is required
              </div>

            </div>
            <label class="form-label">Money</label>
            <input type="number" formControlName="funds" name="money" class="form-control" step="0.01" min="0.01">
            <div *ngIf="(funds?.invalid && (funds?.dirty || funds?.touched)) || customerFunds < getFunds"
                 class="alert alert-danger mt-1">
              <div *ngIf="funds?.errors?.['required']">
                Required
              </div>
              <div *ngIf="funds?.errors?.['min']">
                Wrong input
              </div>
              <div *ngIf="customerFunds < getFunds">
                Not enough funds
              </div>
            </div>
            <br>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-info col-2">Transfer</button>
              <div routerLink="/main" class="mb-2 input-block-level pt-2">
                <button type="button" class="btn btn-secondary w-100">Back</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3 bg-dark  min-vh-100 text-white">
    <span class="text-white h1  text-center">Address Book</span>
    <div class="list-group  p-1" *ngFor="let id of addressBookHaspMap">
      <span class="list-group-item list-group-item-action h4">{{id}}</span>
    </div>
  </div>
</div>

