<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body class="bg-light">
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand h1">Register</span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offers</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a th:href="@{/loginForm}" class="nav-link p-2">Login</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/register}" class=" nav-link p-2">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-lg-6">
        <form action="#" th:action="@{http://localhost:8080/customers}" th:object="${customer}" method="post"
              class="form-horizontal">
          <div th:if="${#fields.hasErrors('email')}">
            <p class="alert alert-danger alert-link">This email already exist</p>
          </div>

          <label class="form-label">First Name</label>
          <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control">

          <div th:if="${#fields.hasErrors('firstName')}">
            <p class="alert alert-danger alert-link">Invalid first name</p>
          </div>

          <label class="form-label">Last Name</label>
          <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control">

          <div th:if="${#fields.hasErrors('lastName')}">
            <p class="alert alert-danger alert-link">Invalid last name</p>
          </div>

          <label class="form-label">Email</label>
          <input type="email" th:field="*{email}" placeholder="Email" class="form-control">


          <label class="form-label">Password</label>
          <input type="password" th:field="*{password}" placeholder="Password" class="form-control"
                 minlength="8">

          <div th:if="${#fields.hasErrors('password')}">
            <p class="alert alert-danger alert-link">Invalid password</p>
          </div>

          <label class="form-label">Repeat password</label>
          <input type="password" th:field="*{passwordRepeat}" placeholder="Password" class="form-control">

          <div th:if="${#fields.hasErrors('passwordRepeat')}">
            <p class="alert alert-danger alert-link">Repeated Password does not match</p>
          </div>

          <br>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Register</button>
            <a th:href="@{/}">Back</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>